{% extends "gigs/includes/base.html" %}

{% block content %}
    <form role="form" action="/" method="post">{% csrf_token %}
        <div class="form-group">
            <label for="latitude">Latitude:</label>
            <input id="id_latitude" name="latitude" type="number" class="form-control"></input>
        </div>
        <div class="form-group">
            <label for="longitude">Longitude:</label>
            <input id="id_longitude" name="longitude" type="number" class="form-control"></input>
        </div>
        <input class="btn btn-primary" type="submit" value="Submit" />
    </form>
{% endblock %}
